body{
    margin: 0;
    background-color:black;
}
.nav{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content:space-around;
    flex-wrap: wrap;
}
.buttons{
    display: flex;
    flex-direction: row;
}
button{
    padding: 2.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-size:x-large;
    flex-grow: inherit;
    background-color: black;
    border: 1px;
}
button:hover{
    color: white;
    font-weight: bold;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 5vw;
}
.text{
    font-size: larger;
    font-family: Georgia;
}
img:hover{
    box-shadow: 0px 0px 30px 5px cornsilk;
}
hr{
    margin: 0%;
    padding: 2px;
    background-color: gray;
    border-color: gray;
}